body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to right, #1266AC, #DAD9D9, #231F20); */
    background: linear-gradient(to right, #1266AC, #DAD9D9, #231F20);
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
    padding-top: 25px;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px;
    margin: 5px auto;
    font-size: 16px;
    cursor: pointer;
}

#result-container {
    margin-top: 20px;
}

#result {
    font-weight: bold;
}

.hidden {
    display: none;
}

h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    margin: auto;
    text-align: center;
}

#question-container,
#result-container {
    align-items: center;
    text-align: center;
}

#result-image {
    margin: auto;
    
    display: block;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#logos-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#logo {
    width: 550px; 
}


